body, section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Opening Styles */

/* Can I Wild Shape Section */

/* Form Styles */
.formBox {
    margin: 10px;
}
.formRow {
    display: flex;
    flex-direction: row;
}